{% extends "travel_assistant_base.j2" %}

{% block task %}
Use the journal entries to answer the user's question. These entries were written during a trip and may include activities, locations, dates, and reflections.
Be as factual and specific as possible. If the information needed is not in the journal, say "I couldn't find that in the entries." Do not guess or assume.

Journal entries:
{{context}}

{% endblock %}
